@model ChildCareSystem.Models.Patient
@using Microsoft.AspNetCore.Identity
@using ChildCareSystem.Areas.Identity.Data
@inject SignInManager<ChildCareSystemUser> SignInManager
@inject UserManager<ChildCareSystemUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="wrapper mt-lg-5 px-5">
    <div class="form-wrapper col-12 col-lg-6 mt-3 py-3">
        <div class="customer-section col-12">
            <div class="row">
                <div class="col mb-3">
                    <h5>Patient information</h5>
                    <div><span class="text-secondary">Name:</span> @Model.PatientName</div>
                    <div><span class="text-secondary">Birthdate:</span> @Model.Birthdate.ToString("dd-MM-yyyy")</div>
                    <div>
                        <span class="text-secondary">Gender:</span>
                        @if (Model.Gender)
                        {
                            <span style="font-weight: 400">Male</span>
                        }
                        else
                        {
                            <span style="font-weight: 400">Female</span>
                        }
                    </div>
                </div>
                <div class="col mb-3">
                    <h5>Customer information</h5>
                    <div><span class="text-secondary">Name:</span> @Model.ChildCareSystemUser.FullName</div>
                    <div><span class="text-secondary">Email:</span> @Model.ChildCareSystemUser.Email</div>
                    <div><span class="text-secondary">Phone number:</span> @Model.ChildCareSystemUser.PhoneNumber</div>
                    <div><span class="text-secondary">Address:</span> @Model.ChildCareSystemUser.Address</div>
                </div>
            </div>
        </div>
    </div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="GetAll" class="mt-3" style="font-size: 1.1rem">Back to list</a>
    }
    else
    {
        <a asp-controller="Reservations" asp-action="GetStaffSchedule" class="mt-3" style="font-size: 1.1rem">Back to list</a>
    }
</div>

@section Styles {
    <link href="@Url.Content("~/css/reservation/detail.css")" rel="stylesheet" type="text/css" />
}
