@model ChildCareSystem.Models.Feedback

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="wrapper px-5">
    <div class="section-title my-3">
        <h2>Feedback</h2>
    </div>

    <div class="form-wrapper col-12 col-lg-8 mt-3">
        <div class="info-wrapper col-12">
            <div class="row">
                <div class="col"><span class="text-secondary">Service:</span> @ViewBag.ReservationInfo.Service.ServiceName</div>
                <div class="col"><span class="text-secondary">Patient:</span> @ViewBag.ReservationInfo.Patient.PatientName</div>
            </div>
            <div class="row">
                <div class="col"><span class="text-secondary">Date:</span> @ViewBag.ReservationInfo.CheckInDate</div>
                <div class="col"><span class="text-secondary">Doctor:</span> @ViewBag.ReservationInfo.ChildCareSystemStaff.FullName</div>
            </div>
        </div>

        <div class="rate-section">
            <div class="row">
                <div class="col-12">
                    <form asp-action="Edit" id="feedbackForm">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="rating-section my-3 col-12">
                            <div>Rating for us (from 1 to 5)</div>
                            <span onmouseover="starmark(this)"
                                  onclick="starmark(this)"
                                  id="1one"
                                  style="font-size: 25px; cursor: pointer"
                                  class="fa fa-star checked"></span>
                            <span onmouseover="starmark(this)"
                                  onclick="starmark(this)"
                                  id="2one"
                                  style="font-size: 25px; cursor: pointer"
                                  class="fa fa-star"></span>
                            <span onmouseover="starmark(this)"
                                  onclick="starmark(this)"
                                  id="3one"
                                  style="font-size: 25px; cursor: pointer"
                                  class="fa fa-star"></span>
                            <span onmouseover="starmark(this)"
                                  onclick="starmark(this)"
                                  id="4one"
                                  style="font-size: 25px; cursor: pointer"
                                  class="fa fa-star"></span>
                            <span onmouseover="starmark(this)"
                                  onclick="starmark(this)"
                                  id="5one"
                                  style="font-size: 25px; cursor: pointer"
                                  class="fa fa-star"></span><br>
                            @if (!String.IsNullOrEmpty(ViewBag.RATE_ERROR))
                            {
                                <div class="alert alert-danger" role="alert">
                                    @ViewBag.RATE_ERROR
                                </div>
                            }
                        </div>
                        <input asp-for="Rate" class="form-control" hidden id="ratePoint" />
                        <div class="form-group col-12">
                            <label asp-for="Comment" class="control-label"></label>
                            <textarea asp-for="Comment" class="form-control" rows="3"></textarea>
                            <span asp-validation-for="Comment" class="text-danger"></span>
                        </div>
                        <input asp-for="ServiceId" value="@ViewBag.ReservationInfo.Service.Id" hidden />
                        <input asp-for="ReservationId" value="@ViewBag.ReservationInfo.Id" hidden />
                        <div class="form-group col-12 text-center">
                            <button class="btn btn-success col-md-4" type="submit">
                                Update feedback
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Styles {
    <link href="@Url.Content("~/css/feedback/create.css")" rel="stylesheet" type="text/css" />

}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/feedback/feedback.js"></script>
    <script>
        count = $("#ratePoint").val();
        for (var i = 0; i < 5; i++) {
            if (i < count) {
                document.getElementById(i + 1 + "one").style.color = "#fed330";
            } else {
                document.getElementById(i + 1 + "one").style.color = "black";
            }
        }
    </script>
    
}
