@model ChildCareSystem.Models.Service
@using Microsoft.AspNetCore.Identity
@using ChildCareSystem.Areas.Identity.Data
@inject SignInManager<ChildCareSystemUser> SignInManager
@inject UserManager<ChildCareSystemUser> UserManager
@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="body-top mt-3">
        <div class="service-name text-center mb-4">
            <h2>@Model.ServiceName</h2>
        </div>
    </div>

    <div class="specialty-section col-12 mb-3">
        <span style="font-weight: bold" class="mr-1">Specialty:</span>@Model.Specialty.SpecialtyName
    </div>
    <div class="row mb-5">
        <div class="body-left col-12">
            <div>
                <div class="service-thumb mb-3">
                    <img src="@Model.ThumbnailLink" />
                </div>
                <div class="service-des">
                    @Html.Raw(Model.Description)
                </div>
                <div class="price text-center float-right">
                    <span style="font-weight: bold">Price:</span> $@Model.Price
                </div>
            </div>
            <div class="funct-button text-center mt-5">
                @if(User.IsInRole("Admin"))
                {
                    <a class="btn btn-success col-4"
                       asp-controller="Services"
                       asp-action="Edit"
                       asp-route-id="@Model.Id">
                        Edit
                    </a><br>
                }
                else if(User.IsInRole("Customer"))
                {
                    <a class="btn btn-success col-4"
                       asp-controller="Reservations"
                       asp-action="Index"
                       asp-route-service="@Model.Id">
                        Make reservation
                    </a><br>
                }

            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("~/css/service/detail.css")" rel="stylesheet" type="text/css" />
}